* {
    margin: 0;
    padding: 0;
}

#menu p {
    text-align: center;
    background-color: #191919;
    color: white;
    font-size: 50px;
    font-weight: 900;
}

#logo{
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img {
    width: 300px;
    height: 200px;
}

#nav-menu {
    background-color: red;
}

#ul-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 20px;
    list-style: none;
    padding: 10px 0;
}

#ul-menu a {
    text-decoration: none;
    color: white;
    font-weight: 900;

}

#ul-menu a:hover {
    transition: 1s;
    color: black;
}

.pai-box {
    width: 90%;
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows:  1fr;
    grid-template-areas: 
    "seven eight nine";
}

.box {
    display: grid;
    padding: 10px;
    margin: 20px;
    box-shadow: 5px 10px 8px 8px #888888;
    justify-content: center;
}

.box img{
    width: 100%;
}

.box p{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 900;
}

.box a{
    text-decoration: none;
    color: black;
    font-weight: 900;
}

.box:hover{
    transition: 1s;
    background-color: black;
}

.sete{    
    grid-area: seven;
}

.oito {
    grid-area: eight;
}

.nove{
    grid-area: nine;
}

